<div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Buttons">
  <div class="btn-group btn-group-sm" role="group" aria-label="First group">
    <a href="/" class="btn btn-primary btn-sm" role="button">main</a>
  </div>
  <div class="btn-group btn-group-sm" role="group" aria-label="First group">
    <a href="/stats" class="btn btn-primary btn-sm" role="button">stats</a>
    <a href="/all" class="btn btn-primary btn-sm" role="button">all</a>
    <a href="/history" class="btn btn-primary btn-sm" role="button">history</a>
  </div>
  <div class="btn-group btn-group-sm" role="group" aria-label="First group">
    <a href="{{ logout_link }}" class="btn btn-danger btn-sm" role="button">log out</a>
  </div>
</div>
