<div class="buttons btn-toolbar justify-content-between" role="toolbar" aria-label="Buttons">
  <div class="btn-group btn-group" role="group" aria-label="First group">
    <a href="/" class="btn btn-secondary btn active" role="button">main</a>
  </div>
  <div class="btn-group btn-group" role="group" aria-label="Second group">
    <a href="/all" class="btn btn-secondary btn active" role="button">all</a>
    <a href="/history" class="btn btn-secondary btn active" role="button">history</a>
    <a href="/changes" class="btn btn-secondary btn active" role="button">changes</a>
  </div>
  <div class="btn-group btn-group" role="group" aria-label="Third group">
    <a href="{{ logout_link }}" class="btn btn-secondary btn active" role="button">
      log out
    </a>
  </div>
</div>
