{% extends "_base.html" %}

{% block head %}
<script src="/js/all.js"></script>
{% endblock %}

{% block title %}
All
{% endblock %}

{% block body %}
{% if is_logged_in %}
{% include "_top_menu.html" %}
{% endif %}

<div id="all">
  <ul class="list-group">
    {% for s in list_and_items %}
    <div class="list-group">
      {% include "_list_list_item_group.html" %}
      <div class="list-group">
        {% for item in s.open_items %}
        <a class="list-group-item list-group-item-action"
           href="#"
           onclick="markItemDone('{{ item.key }}')">
          {% include "_item.html" %}
        </a>
        {% endfor %}
        {% for item in s.done_items %}
        <a class="list-group-item list-group-item-action done"
           href="#"
           onclick="markItemOpen('{{ item.key }}')">
          {% include "_item.html" %}
        </a>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </ul>
</div>
{% endblock %}
