<html>
  <head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      <link href="/css/bootstrap.min.css" rel=stylesheet></link>
      <link href="/css/style.css" rel=stylesheet></link>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
      <script src="/js/archiveall.js"></script>
    </head>
    <body>
      <h1>Archive all</h1>
      <a href="/" class="back">Back</a>
      
      <h2>Authors</h2>
      <ul class="list-group">
        {% for s in author_stats %}
        <li class="list-group-item">
          {{ s.nickname }} : {{ s.count }}
        </li>
        {% endfor %}
      </ul>
    </body>
  </html>
