{% extends "_base.html" %}

{% block head %}
<script src="/js/index.js"></script>
{% endblock %}

{% block title %}
Lists
{% endblock %}

{% block body %}
{% if is_logged_in %}
{% include "_top_menu.html" %}
{% endif %}


<form id="add-form" data-list-key="{{ list.key }}">
  <div class="block input-group">
    <input type="text" class="form-control" 
           placeholder="List name"
           id="new-list-name-text">
    <div class="input-group-btn">
      <button type="button" class="btn btn-success" onclick="addNewList()">
        Add list
      </button>
    </div>
  </div>
</form>

<div class="block list-group">
  {% for s in lists %}
    {% include "_list_list_item_group.html" %}
  {% endfor %}
</div>

{% if is_logged_in %}
<div class="etc-buttons">
  <button type="submit" class="btn btn-warning" onclick="archive()">Archive</button>
</div>
{% endif %}
{% endblock %}
