{% extends "_base.html" %}

{% block head %}
<script src="/js/list.js"></script>
<script>
  $(window).load(bindFakeLinks);
</script>
{% endblock %}

{% block title %}
List: <span class="list-title">{{ list.name|escape }}</span>
{% endblock %}

{% block body %}
{% include "_sub_menu.html" %}

{% if num_items == 0 %}
<h2>You got nothing</h2>
{% endif %}

{% if num_open_items > 0 %}
<h2>Open ({{ num_open_items }})</h2>
<div class="block list-group">
  {% for item in open_items %}
  <a class="list-group-item list-group-item-action"
     href="#"
     onclick="markItemDone('{{ item.key }}')">
    {% include "_item.html" %}
  </a>
  {% endfor %}
</div>
{% endif %}

<div class="block input-group">
  <input type="text" class="form-control" placeholder="Item name"
         id="text_{{ list.key}}">
  <div class="input-group-btn">
    <button type="button" class="btn btn-success"
            onclick="addNewItem('{{ list.key }}')" >
      Add
    </button>
  </div>
  <select id="priority_{{ list.key}}" class="selectpicker">
    <option>P0</option>
    <option>P1</option>
    <option selected>P2</option>
    <option>P3</option>
    <option>P4</option>
  </select>
</div>

{% if num_done_items > 0 %}
<h2>Done ({{ num_done_items }})</h2>
<div class="block list-group">
  {% for item in done_items %}
  <a class="list-group-item list-group-item-action done"
     href="#"
     onclick="markItemOpen('{{ item.key }}')">
    {% include "_item.html" %}
  </a>
  {% endfor %}
</div>
{% endif %}


<div class="block etc-buttons">
  <button type="submit" class="btn btn-warning" 
          onclick="archiveList('{{ list.key }}')" >
    Archive
  </button>
  <button type="submit" class="btn btn-success" 
          onclick="emailList('{{ list.key }}')" >
    Email
  </button>
  <button type="submit" class="btn btn-danger" 
          onclick="deleteList('{{ list.key }}', '{{ list.name }}')" >
    Delete
  </button>
</div>
{% endblock %}
