{% extends "_base.html" %}

{% block head %}
<script src="/js/list.js"></script>
<script>
  $(window).load(bindFakeLinks);
</script>
{% endblock %}

{% block title %}
List: <span class="list-title">{{ list.name|escape }}</span>
{% endblock %}

{% block body %}
{% include "_sub_menu.html" %}

{% if num_items == 0 %}
<h2>You got nothing</h2>
{% endif %}

<div id="open-items-wrapper"
{% if num_open_items == 0 %}
  style="display:none"
{% endif %}
>
  <h2>Open (<span id="num-open-items">{{ num_open_items }}</span>)</h2>
  <div class="block list-group" id="open-items">
    {% for item in open_items %}
    {% include "_list_open_item.html" %}
    {% endfor %}
  </div>
</div>

<form id="add-form" data-list-key="{{ list.key }}">
  <div class="block input-group">
    <input type="text" class="form-control" placeholder="Item name"
           id="text_{{ list.key}}">
    <div class="input-group-btn">
      <button type="button" class="btn btn-success"
              onclick="addNewItem('{{ list.key }}')" >
        Add
      </button>
    </div>
    <select id="priority_{{ list.key}}" class="selectpicker">
      <option>P0</option>
      <option>P1</option>
      <option selected>P2</option>
      <option>P3</option>
      <option>P4</option>
    </select>
  </div>
</form>

<div id="done-items-wrapper"
{% if num_done_items == 0 %}
  style="display:none"
{% endif %}
>
  <h2>Done (<span id="num-done-items">{{ num_done_items }}</span>)</h2>
  <div class="block list-group" id="done-items">
    {% for item in done_items %}
    {% include "_list_done_item.html" %}
    {% endfor %}
  </div>
</div>


<div class="block etc-buttons">
  <button type="submit" class="btn btn-warning" 
          onclick="archiveList('{{ list.key }}')" >
    Archive
  </button>
  <button type="submit" class="btn btn-success" 
          onclick="emailList('{{ list.key }}')" >
    Email
  </button>
  <button type="submit" class="btn btn-danger" 
          onclick="deleteList('{{ list.key }}', '{{ list.name }}')" >
    Delete
  </button>
</div>
{% endblock %}
